<?xml version="1.0" ?>
<robot name="daksha_final_urdf" xmlns:xacro="http://www.ros.org/wiki/xacro" >

<!-- ================= LEFT D405 CAMERA FRAMES ================= -->

<!-- Camera Link -->
<link name="left_gripper_cam_link"/>

<joint name="left_gripper_cam_link_joint" type="fixed">
    <parent link="left_gripper_cam"/>
    <child link="left_gripper_cam_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

<!-- Depth Frame -->
<link name="left_gripper_cam_depth_frame"/>

<joint name="left_gripper_cam_depth_joint" type="fixed">
    <parent link="left_gripper_cam_link"/>
    <child link="left_gripper_cam_depth_frame"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

<!-- Depth Optical -->
<link name="left_gripper_cam_depth_optical_frame"/>

<joint name="left_gripper_cam_depth_optical_joint" type="fixed">
    <parent link="left_gripper_cam_depth_frame"/>
    <child link="left_gripper_cam_depth_optical_frame"/>
    <origin xyz="0 0 0"
            rpy="-1.57079632679 0 -1.57079632679"/>
</joint>

<!-- Color Frame -->
<link name="left_gripper_cam_color_frame"/>

<joint name="left_gripper_cam_color_joint" type="fixed">
    <parent link="left_gripper_cam_link"/>
    <child link="left_gripper_cam_color_frame"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

<!-- Color Optical -->
<link name="left_gripper_cam_color_optical_frame"/>

<joint name="left_gripper_cam_color_optical_joint" type="fixed">
    <parent link="left_gripper_cam_color_frame"/>
    <child link="left_gripper_cam_color_optical_frame"/>
    <origin xyz="0 0 0"
            rpy="-1.57079632679 0 -1.57079632679"/>
</joint>

<!-- Infra1 -->
<link name="left_gripper_cam_infra1_frame"/>

<joint name="left_gripper_cam_infra1_joint" type="fixed">
    <parent link="left_gripper_cam_link"/>
    <child link="left_gripper_cam_infra1_frame"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

<link name="left_gripper_cam_infra1_optical_frame"/>

<joint name="left_gripper_cam_infra1_optical_joint" type="fixed">
    <parent link="left_gripper_cam_infra1_frame"/>
    <child link="left_gripper_cam_infra1_optical_frame"/>
    <origin xyz="0 0 0"
            rpy="-1.57079632679 0 -1.57079632679"/>
</joint>

<!-- Infra2 -->
<link name="left_gripper_cam_infra2_frame"/>

<joint name="left_gripper_cam_infra2_joint" type="fixed">
    <parent link="left_gripper_cam_link"/>
    <child link="left_gripper_cam_infra2_frame"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

<link name="left_gripper_cam_infra2_optical_frame"/>

<joint name="left_gripper_cam_infra2_optical_joint" type="fixed">
    <parent link="left_gripper_cam_infra2_frame"/>
    <child link="left_gripper_cam_infra2_optical_frame"/>
    <origin xyz="0 0 0"
            rpy="-1.57079632679 0 -1.57079632679"/>
</joint>






<!-- ================= RIGHT D405 CAMERA FRAMES ================= -->

<!-- Camera Link -->
<link name="right_gripper_cam_link"/>

<joint name="right_gripper_cam_link_joint" type="fixed">
    <parent link="right_gripper_cam"/>
    <child link="right_gripper_cam_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

<!-- Depth Frame -->
<link name="right_gripper_cam_depth_frame"/>

<joint name="right_gripper_cam_depth_joint" type="fixed">
    <parent link="right_gripper_cam_link"/>
    <child link="right_gripper_cam_depth_frame"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

<!-- Depth Optical Frame -->
<link name="right_gripper_cam_depth_optical_frame"/>

<joint name="right_gripper_cam_depth_optical_joint" type="fixed">
    <parent link="right_gripper_cam_depth_frame"/>
    <child link="right_gripper_cam_depth_optical_frame"/>
    <origin xyz="0 0 0"
            rpy="-1.57079632679 0 -1.57079632679"/>
</joint>

<!-- Color Frame -->
<link name="right_gripper_cam_color_frame"/>

<joint name="right_gripper_cam_color_joint" type="fixed">
    <parent link="right_gripper_cam_link"/>
    <child link="right_gripper_cam_color_frame"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

<!-- Color Optical Frame -->
<link name="right_gripper_cam_color_optical_frame"/>

<joint name="right_gripper_cam_color_optical_joint" type="fixed">
    <parent link="right_gripper_cam_color_frame"/>
    <child link="right_gripper_cam_color_optical_frame"/>
    <origin xyz="0 0 0"
            rpy="-1.57079632679 0 -1.57079632679"/>
</joint>

<!-- Infra1 Frame -->
<link name="right_gripper_cam_infra1_frame"/>

<joint name="right_gripper_cam_infra1_joint" type="fixed">
    <parent link="right_gripper_cam_link"/>
    <child link="right_gripper_cam_infra1_frame"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

<!-- Infra1 Optical Frame -->
<link name="right_gripper_cam_infra1_optical_frame"/>

<joint name="right_gripper_cam_infra1_optical_joint" type="fixed">
    <parent link="right_gripper_cam_infra1_frame"/>
    <child link="right_gripper_cam_infra1_optical_frame"/>
    <origin xyz="0 0 0"
            rpy="-1.57079632679 0 -1.57079632679"/>
</joint>

<!-- Infra2 Frame -->
<link name="right_gripper_cam_infra2_frame"/>

<joint name="right_gripper_cam_infra2_joint" type="fixed">
    <parent link="right_gripper_cam_link"/>
    <child link="right_gripper_cam_infra2_frame"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

<!-- Infra2 Optical Frame -->
<link name="right_gripper_cam_infra2_optical_frame"/>

<joint name="right_gripper_cam_infra2_optical_joint" type="fixed">
    <parent link="right_gripper_cam_infra2_frame"/>
    <child link="right_gripper_cam_infra2_optical_frame"/>
    <origin xyz="0 0 0"
            rpy="-1.57079632679 0 -1.57079632679"/>
</joint>

</robot>
