<?xml version="1.0" ?>
<robot name="daksha_final_urdf" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ==================== HEAD LINKS ==================== -->

  <link name="head">
    <inertial>
      <origin xyz="-0.015963296873405593 -0.005534276616812182 0.05718994629459351" rpy="0 0 0"/>
      <mass value="4.920587485039074"/>
      <inertia ixx="0.048333" iyy="0.046849" izz="0.019584" ixy="1.4e-05" iyz="0.000418" ixz="0.002888"/>
    </inertial>
    <visual>
      <origin xyz="-0.01409 -0.003392 -1.435884" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://daksha_final_urdf_description/meshes/head_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="-0.01409 -0.003392 -1.435884" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://daksha_final_urdf_description/meshes/head_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>


  <link name="head_vyser">
    <inertial>
      <origin xyz="0.00037391630008574983 0.035313120105324745 0.11948312074657808" rpy="0 0 0"/>
      <mass value="0.963597765835371"/>
      <inertia ixx="0.00595" iyy="0.005397" izz="0.002343" ixy="-5e-06" iyz="5e-06" ixz="0.001368"/>
    </inertial>
    <visual>
      <origin xyz="-0.01409 -0.003392 -1.435884" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://daksha_final_urdf_description/meshes/head_vyser_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin xyz="-0.01409 -0.003392 -1.435884" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://daksha_final_urdf_description/meshes/head_vyser_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <!-- ==================== HEAD JOINTS ==================== -->

  <joint name="head_joint" type="fixed">
    <origin xyz="-0.125192 0.126292 1.204884" rpy="0 0 0"/>
    <parent link="body"/>
    <child link="head"/>
  </joint>

  <joint name="vyser_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="head"/>
    <child link="head_vyser"/>
  </joint>

</robot>
