<?xml version="1.0" ?>
<robot name="daksha_final_urdf" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ==================== WHEEL BASE (BASE LINK) ==================== -->

  <link name="base_link">
    <inertial>
      <origin xyz="0.003941905913412172 0.0006324297531049793 0.08734886694463434" rpy="0 0 0"/>
      <mass value="95.80524891205515"/>
      <inertia ixx="1.975169" iyy="2.038431" izz="3.538336" ixy="-0.004672" iyz="0.000713" ixz="-0.004954"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://daksha_final_urdf_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://daksha_final_urdf_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

</robot>
