<?xml version="1.0" ?>
<robot name="daksha_final_urdf" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ==================== GRIPPER LINKS & JOINTS (LEFT & RIGHT) ==================== -->

  <!-- GRIPPER MOUNTS & FINGERS -->
  <link name="right_gripper_mount">
    <inertial>
      <origin xyz="-0.00012631863662022208 -0.00017498134172999613 -0.01119620732141191" rpy="0 0 0"/>
      <mass value="0.11525543413048514"/>
      <inertia ixx="0.000235" iyy="1.6e-05" izz="0.000239" ixy="-5e-06" iyz="4e-06" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="0.020388 0.251285 -0.739464" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://daksha_final_urdf_description/meshes/right_gripper_mount_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0.020388 0.251285 -0.739464" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://daksha_final_urdf_description/meshes/right_gripper_mount_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="right_right_finger">
    <inertial>
      <origin xyz="-0.023438023117318096 -0.3189704164452161 0.698179849422506" rpy="0 0 0"/>
      <mass value="0.24566846921152496"/>
      <inertia ixx="0.00013" iyy="0.000164" izz="6.1e-05" ixy="0.0" iyz="2e-05" ixz="3e-06"/>
    </inertial>
    <visual>
      <origin xyz="0.020388 0.320285 -0.719464" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://daksha_final_urdf_description/meshes/right_right_finger_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0.020388 0.320285 -0.719464" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://daksha_final_urdf_description/meshes/right_right_finger_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="right_left_finger">
    <inertial>
      <origin xyz="-0.0194828101165415 -0.19521693742325842 0.6961888138717574" rpy="0 0 0"/>
      <mass value="0.2456644846463786"/>
      <inertia ixx="0.00013" iyy="0.000163" izz="6.3e-05" ixy="0.0" iyz="-2.3e-05" ixz="-5e-06"/>
    </inertial>
    <visual>
      <origin xyz="0.020388 0.192285 -0.719464" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://daksha_final_urdf_description/meshes/right_left_finger_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0.020388 0.192285 -0.719464" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://daksha_final_urdf_description/meshes/right_left_finger_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="left_gripper_mount">
    <inertial>
      <origin xyz="-0.0001263186366177449 0.00017539210303130215 -0.011196207321211404" rpy="0 0 0"/>
      <mass value="0.1152554341304878"/>
      <inertia ixx="0.000235" iyy="1.6e-05" izz="0.000239" ixy="5e-06" iyz="-4e-06" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="0.020388 -0.251285 -0.739464" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://daksha_final_urdf_description/meshes/left_gripper_mount_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0.020388 -0.251285 -0.739464" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://daksha_final_urdf_description/meshes/left_gripper_mount_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="left_right_finger">
    <inertial>
      <origin xyz="0.000923175111062054 -0.061898380336044 -0.0433523246615807" rpy="0 0 0"/>
      <mass value="0.24566447509313505"/>
      <inertia ixx="0.00013" iyy="0.000165" izz="6.1e-05" ixy="-1e-06" iyz="2e-05" ixz="-5e-06"/>
    </inertial>
    <visual>
      <origin xyz="0.020388 -0.192782 -0.719464" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://daksha_final_urdf_description/meshes/left_right_finger_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0.020388 -0.192782 -0.719464" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://daksha_final_urdf_description/meshes/left_right_finger_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="left_left_finger">
    <inertial>
      <origin xyz="-0.003050036343231838 -0.0626858192964383 -0.0412841600575396" rpy="0 0 0"/>
      <mass value="0.24566840723487735"/>
      <inertia ixx="0.00013" iyy="0.000164" izz="6.1e-05" ixy="-0.0" iyz="-2e-05" ixz="3e-06"/>
    </inertial>
    <visual>
      <origin xyz="0.020388 -0.320782 -0.719464" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://daksha_final_urdf_description/meshes/left_left_finger_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0.020388 -0.320782 -0.719464" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://daksha_final_urdf_description/meshes/left_left_finger_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <!-- GRIPPER JOINTS -->
  <joint name="right_gripper_base_joint" type="fixed">
    <origin xyz="-0.000938 0.0 -0.095364" rpy="0 0 0"/>
    <parent link="right_link_8"/>
    <child link="right_gripper_mount"/>
  </joint>

  <joint name="right_right_finger_joint" type="prismatic">
    <origin xyz="0 -0.064 -0.02" rpy="0 0 0"/>
    <parent link="right_gripper_mount"/>
    <child link="right_right_finger"/>
    <axis xyz="0.022481 0.999621 -0.015888"/>
    <limit upper="0.044" lower="0.0" effort="100" velocity="100"/>
  </joint>

  <joint name="right_left_finger_joint" type="prismatic">
    <origin xyz="0 0.064 -0.02" rpy="0 0 0"/>
    <parent link="right_gripper_mount"/>
    <child link="right_left_finger"/>
    <axis xyz="-0.022481 -0.999621 0.015888"/>
    <limit upper="0.044" lower="0.0" effort="100" velocity="100"/>
    <mimic joint="right_right_finger_joint" multiplier="1.0" offset="0.0"/>
  </joint>

  <joint name="left_gripper_base_joint" type="fixed">
    <origin xyz="-0.000938 0.0 -0.095364" rpy="0 0 0"/>
    <parent link="left_link_8"/>
    <child link="left_gripper_mount"/>
  </joint>

  <joint name="left_right_gripper_joint" type="prismatic">
    <origin xyz="0 -0.064 -0.02" rpy="0 0 0"/>
    <parent link="left_gripper_mount"/>
    <child link="left_right_finger"/>
    <axis xyz="-0.022481 0.999621 0.015888"/>
    <limit upper="0.044" lower="0.0" effort="100" velocity="100"/>
    <mimic joint="left_left_gripper_joint" multiplier="1.0" offset="0.0"/>
  </joint>

  <joint name="left_left_gripper_joint" type="prismatic">
    <origin xyz="0 0.064 -0.02" rpy="0 0 0"/>
    <parent link="left_gripper_mount"/>
    <child link="left_left_finger"/>
    <axis xyz="0.022481 -0.999621 -0.015888"/>
    <limit upper="0.044" lower="0.0" effort="100" velocity="100"/>
  </joint>

</robot>
