<?xml version="1.0"?>
<robot name="zed_camera" xmlns:xacro="http://www.ros.org/wiki/xacro">


    <link name="zed2i_base_link"/>

    <joint name="zed2i_mount_joint" type="fixed">
        <parent link="Zed_cam"/>
        <child link="zed2i_base_link"/>

        <!-- keep zero unless your CAD origin differs -->
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>


<!-- Camera Center -->

    <link name="zed2i_camera_center"/>

    <joint name="camera_center_joint" type="fixed">
        <parent link="zed2i_base_link"/>
        <child link="zed2i_camera_center"/>

        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>


<!-- Left Camera -->

    <link name="left_camera_frame"/>

    <joint name="left_camera_joint" type="fixed">
        <parent link="zed2i_camera_center"/>
        <child link="left_camera_frame"/>

        <!-- Adjust from official ZED model -->
        <origin xyz="0 0.06 0" rpy="0 0 0"/>
    </joint>


<!-- Right Camera -->

    <link name="right_camera_frame"/>

    <joint name="right_camera_joint" type="fixed">
        <parent link="zed2i_camera_center"/>
        <child link="right_camera_frame"/>

        <origin xyz="0 -0.06 0" rpy="0 0 0"/>
    </joint>


<!-- Left Optical -->

    <link name="left_camera_optical_frame"/>

    <joint name="left_optical_joint" type="fixed">
        <parent link="left_camera_frame"/>
        <child link="left_camera_optical_frame"/>

        <origin xyz="0 0 0"
                rpy="-1.57079632679 0 -1.57079632679"/>
    </joint>


<!-- Right Optical -->

    <link name="right_camera_optical_frame"/>

    <joint name="right_optical_joint" type="fixed">
        <parent link="right_camera_frame"/>
        <child link="right_camera_optical_frame"/>

        <origin xyz="0 0 0"
                rpy="-1.57079632679 0 -1.57079632679"/>
    </joint>


<!-- IMU -->

    <link name="imu_link"/>

    <joint name="imu_joint" type="fixed">
        <parent link="zed2i_base_link"/>
        <child link="imu_link"/>

        <!-- Adjust using official ZED URDF -->
        <origin xyz="0.03 0 0.01"
                rpy="0 0 0"/>
    </joint>

</robot>
