av==17.1.0
Flask==3.1.2
flask-cors==6.0.5
numpy>=2,<2.3.0
opencv-contrib-python==4.12.0.88
pandas==2.3.3
pin==3.8.0
placo==0.9.23
psutil==5.9.0
pyarrow==25.0.1
pymongo==4.18.1
PyQt6==6.11.0
pyserial==3.5
pytest==6.2.5
python-can==4.6.1
PyYAML==5.4.1
requests==2.25.1
scipy==1.15.3
trimesh==5.1.0
websocket-client==1.9.0
Werkzeug==3.1.8
